extends layout

block content
  if(errors)
    h1 Error On Update Book Details
  else
    h1 New Book
  include error
  form(method='post')
    p
      label(for='title') Title
      input(type='text' name='title' value=books.title)
    p
      label(for='author') Author
      input(type='text' name='author' value=books.author)
    p
      label(for='genre') Genre
      input(type='text' name='genre' value=books.genre)
    p
      label(for='first_published') First Published
      input(type='text' name='first_published'  value=books.first_published)
    if(errors)
      p
        input(type='submit' value='Update')
    else
      p
        input(type='submit' value='Create New Book')

